@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunitoregular.woff");
    font-weight: normal;
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunitobold.woff");
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: bold;
}

.right-side {
    width: 50%;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
}

.right-side.main {
    background: #fbfbfb;
    position: fixed;
}

.header {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 27px;
    width: 262px;
}

.logo img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto 100px auto;
    padding-top: 112px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.main-sign-in-up {
    max-width: 452px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-title h1 {
    font-size: 36px;
}

.main-text {
    font-size: 22px;
    line-height: 27px;
    color: #595959;
    margin-top: 19px;
}

.main-form {
    margin-top: 73px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
}

.form-checkbox {
    margin-top: 10px;
}

.form .input-label {
    display: block;
    font-size: 16px;
    color: #C6C6C4;
}

.form .checkbox-label {
    font-size: 16px;
    color: #636363;
    margin-left: 10px;
}

.form input[type="checkbox"] {

}

.form input[type="text"], .form input[type="password"], .form input[type="email"] {
    font-family: Nunito, sans-serif;
    font-size: 20px;
    color: #323232;
    font-weight: bold;
    width: 100%;
    outline: none;
    border: none;
    line-height: 32px;
    box-sizing: border-box;
}

.form-input:focus-within, .form-input:active {
    box-shadow: 0 0 10px 1px #C6C6C4;
    background: white;
}

.form-input {
    display: flex;
    background: white;
    align-items: baseline;
    border-bottom: 1px solid #C6C6C4;
    box-sizing: border-box;
}

.form-input.error, .form-checkbox.error {
    box-shadow: 0 0px 5px 1px #c85555;
}

.form-pass-eye {
    display: block;
    width: 15px;
}

.pass-eye-slash {
    display: none;
}

.form-pass-eye svg {
    fill: #C6C6C4;
}

.error-message {
    color: #d32838;
    font-size: 12px;
}

.error-message.agree {
    margin-left: 25px;
}

.form-actions {
    text-align: center;
    margin-top: 12px;
}

.btn {
    background: #d32838;
    border-radius: 40px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.btn.form-btn {
    width: 210px;
    height: 70px;
    font-size: 20px;
}

.link-existing-user {
    text-align: center;
}

.link-existing-user a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #636363;
}

.main-image {
    margin-top: 60px;
}

.register-hide {
    display: none;
}

.pop-up-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.pop-up {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    background: white;
    gap: 20px;
    text-align: center;
    padding: 30px 15px;
}

.pop-up-text {
    z-index: 1;
}

.btn.pop-up-btn {
    padding: 15px 60px;
    z-index: 1;
}

.right-side.pop-up {
    background: #F8F8FA;
    position: absolute;
    z-index: 0;
    padding: 0;
}